{% extends "ApmAccountBundle:Master/Account:layout.html.twig" %}

{% block title %}
    Ajouter un compte
{% endblock title %}

{% block heading %}
    <h1>Ajouter un compte</h1>
{% endblock heading %}

{% block innercontent %}
    {% include "ApmAccountBundle:Master/Account:form_create.html.twig" %}
{% endblock innercontent %}