<div class="form-group control-label">
    <div class="col-sm-3">
        {{ form_label(form.title) }}
    </div><!-- /.col-sm-3 -->
    <div class="col-sm-9">
        {{ form_widget(form.title) }}
        {{ form_errors(form.title) }}
    </div><!-- /.col-sm-9 -->
</div><!-- /.form-group -->
