{% extends "CdoUserBundle:User:layout.html.twig" %}

{% block innercontent %}
    <h2>Edition du profil</h2>
    {% include "CdoUserBundle:User/Profile:edit_content.html.twig" %}
{% endblock innercontent %}
