parameters:
    database_driver:   pdo_mysql
    database_host:     localhost
    database_port:     ~
    database_name:     slw_apm
    database_user:     root
    database_password: Jsw3$35nXQ_&
    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~
    locale:            en
    secret:            9gfkd3j92pyt7fd32swfa3375c2p9x5688c5t53g
    database_name_0:   slw_cdo0

    domain_apm: symfonytutorial.org
    domain_name: symfonytutorial
    domain_extension: org
