{% extends "CdoUserBundle:User:layout.html.twig" %}

{% block innercontent %}
    <h2>Changement de mot de passe</h2>
    {% include "CdoUserBundle:User/ChangePassword:changePassword_content.html.twig" %}
{% endblock innercontent %}
