{% extends "CdoUserBundle:Visitor/Registration:layout.html.twig" %}

{% block title %}
    S'inscrire
{% endblock title %}

{% block heading %}
    <h1>S'inscrire</h1>
{% endblock heading %}

{% block innercontent %}
    {% include "CdoUserBundle:Visitor/Registration:form_register.html.twig" %}
{% endblock innercontent %}